.home {
    background-image: url('../assets/home.png');
    background-size: cover;
    background-position: center;
    height: calc(100vh);
    padding-top: 70px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home .row {
    width: 100%;
}

.col-sm {
    margin-left: 5%;
    font-family: 'Poppins';
    white-space: nowrap;
}

#heading {
    margin-top: -3rem;
}

#subLine {
    font-size: 1.25rem;
    color: #B8B8B8;
}

#mainTagline {
    color: white;
    font-size: 3.725rem;
    min-width: 300px;
}

.highlightedWord {
    color: #3BAF4A;
}

.home-quote-button {
    color: white;
    font-size: 1.34rem;
}

#aboutUsSection {
    margin-top: 10rem;
}

#aboutUs1 {
    color: #B8B8B8;
}


@media (max-width: 992px) {
    #subLine {
        font-size: 1rem;
        margin: 0 0 1rem 2%;
        display: flex;
        justify-content: center;
    }

    #mainTagline {
        font-size: 2rem;
        margin: 0 0 1rem 2%;
        display: flex;
        justify-content: center;
    }

    .home-quote-button {
        margin-left: 2%;
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    #subLine {
        font-size: 1rem;
        margin: 0 0 1rem 2%;
    }

    #mainTagline {
        font-size: 2rem;
        margin: 0 0 1rem 2%;
    }

    .home-quote-button {
        margin-left: 2%;
        margin-top: 1rem;
    }
}

@media (max-width: 576px) {
    #subLine {
        font-size: 0.875rem;
        margin: 0 0 1rem 1%;
    }

    #mainTagline {
        font-size: 1.5rem;
        margin: 0 0 1rem 1%;
    }

    .home-quote-button {
        margin-left: 1%;
        margin-top: 1rem;
    }
}