html,
body {
    overflow-x: hidden;
}

.home {
    height: calc(100vh);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    font-family: 'Poppins';
}

.section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section1 {
    background-image: url('../assets/home.png');
    background-size: cover;
    background-position: center;
}

#section2,
#section4 {
    background-color: #121212;
}

#section3,
#section5 {
    background-color: #121212;
    justify-content: flex-start;
}

#section4 {
    justify-content: flex-start;
}

.home .row {
    width: 100%;
}

.col-sm {
    margin-left: 5%;
    white-space: nowrap;
}


#subLine {
    font-size: 1.25rem;
    color: #B8B8B8;
}

#mainTagline {
    color: white;
    font-size: 3.725rem;
    min-width: 300px;
}

.highlightedWord {
    color: #3BAF4A;
}

.home-quote-button {
    color: white;
    font-size: 1.34rem;
}

#aboutUsSection {
    margin-top: 10rem;
}

#aboutUs1 {
    color: #B8B8B8;
}


#service-row {
    margin: 4% 0 4% 9%;
}


#service {
    margin-bottom: 4%;
    margin-right: 10%;
    max-width: 40%;
}

#service-titles {
    color: white;
    font-size: 1.7rem;
}

#service-desc {
    font-size: 1.3rem;
    color: #B8B8B8;
}

#industry-left {
    margin-top: 10rem;
    margin-left: 5%;
    border-right: solid 2px #363636;
    border-bottom: solid 2px #363636;
    border-radius: 10px;
}

#industry-bottomleft {
    margin-top: 10rem;
    margin-left: 5%;
    border-right: solid 2px #363636;
    border-top: solid 2px #363636;
    border-radius: 10px;
}

#industry-right {
    margin-top: 10rem;
    margin-left: 5%;
    border-left: solid 2px #363636;
    border-bottom: solid 2px #363636;
    border-radius: 10px;
}

#industry-bottomright {
    margin-top: 10rem;
    margin-left: 5%;
    border-left: solid 2px #363636;
    border-top: solid 2px #363636;
    border-radius: 10px;
}

#industry-text {
    padding-bottom: 100px;
    padding-top: 20px;
}

#industry-ceo {
    padding-bottom: 20px;
}

#desc {
    margin-left: 5%;
}

#start-quote {
    margin-left: 11%;
    margin-top: 10%;
    color: crimson;
}

@media (max-width: 992px) {
    #subLine {
        font-size: 1rem;
        margin: 0 0 1rem 2%;
        display: flex;
        justify-content: center;
    }

    #mainTagline {
        font-size: 2rem;
        margin: 0 0 1rem 2%;
        display: flex;
        justify-content: center;
    }

    .home-quote-button {
        margin-left: 2%;
        margin-top: 1rem;
    }
}

@media (max-width: 768px) {
    #subLine {
        font-size: 1rem;
        margin: 0 0 1rem 2%;
    }

    #mainTagline {
        font-size: 2rem;
        margin: 0 0 1rem 2%;
    }

    .home-quote-button {
        margin-left: 2%;
        margin-top: 1rem;
    }
}

@media (max-width: 576px) {
    #subLine {
        font-size: 0.875rem;
        margin: 0 0 1rem 1%;
    }

    #mainTagline {
        font-size: 1.5rem;
        margin: 0 0 1rem 1%;
    }

    .home-quote-button {
        margin-left: 1%;
        margin-top: 1rem;
    }
}